@import "src/index.scss";

.container-topics-list {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.container-following, .container-trending {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    max-width: 800px;

    & > h3 {
        flex: 1;
    }
}

.dashboard-card {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: white;
    margin: 2px;
    padding: 5px;
    font-size: calc(10px + 1vmin);
    font-weight: bold;
    box-shadow: 0 2px 6px -2px rgba(100, 100, 100, 0.788);

    &:nth-child(n) {
        padding: 5px;
    }
}

.breadcrumb {
    width: 50vw;
    padding: 50px;
    margin: 10px;
    background-color: white;
}

.breadcrumb-text {
    font-size: calc(10px + 2vmin);
    line-height: 28px;
    margin: 5px;
}

a.button {
    padding: 7px 13px;
    margin: 3px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    background-color: $background-color-light;

    &:hover {
        cursor: pointer;
    }
}

a.primary {
    background-color: $button-color-primary;
    color: #ffffff;

    &:hover {
        background-color: #19444e;
        cursor: pointer;

    }
}

@media all and (max-width: 600px) and (min-width: 300px) {
    .dashboard-card {
        font-size: 12px;
    }

    .breadcrumb {
        width: 90vw;
        padding: 10px;
        margin: 5px;
    }

    .breadcrumb-text {
        font-size: calc(14px);
    }
}