$button-color-primary: #385b66;

.container-login {
    display: flex;
    justify-content: space-around;
}

.button.primary {
    background-color: $button-color-primary;
}

.login-headers {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 100%;
    margin-top: 4vh;
    margin-bottom: 4vh;
    padding: 3vh 0px;
    font-family: 'DM Serif Text', serif;
}

.login-title {
    font-size: calc(20px + 6vmin);
    line-height: calc(20px + 5vmin);
    font-family: 'DM Serif Text', serif;
    font-weight: bold;
}