@import "src/index.scss";

.container-login {
    display: flex;
    justify-content: space-around;
}

.primary {
    background-color: $button-color-primary;
}

.login-headers {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 100%;
    margin-top: 4vh;
    margin-bottom: 4vh;
    padding: 3vh 0px;
    font-family: 'DM Serif Text', serif;
}

.login-title {
    font-size: calc(20px + 6vmin);
    line-height: calc(20px + 5vmin);
    font-family: 'DM Serif Text', serif;
    font-weight: bold;
}

.form-login {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 80vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
    padding: 3vh 0px;

    form {
        
        width: 35%;
        align-items: center;
    }
}

.form-login-input-email, .form-login-input-password {
    display: flex;

}

.form-login form input {
    flex: 1;
    font-size: 18px;
    border: 1px solid lightgray;
    padding: 10px 15px;
    margin: 10px 0px;
}

.button-login {
    width: 100%;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 3px;
    margin: 10px 0px;

    &:hover {
        background-color: #19444e;
        cursor: pointer;
    }
}

@media all and (max-width: 1000px) and (min-width: 300px) {

    .form-login {

        form {
            display: flex;
            flex-direction: column;
            align-content: center;
        } 
    }

    .button-login {
        flex: 1;
    }
}