.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 250px;
    width: 100vw;
}

.navbar-brand {
    display: flex;
    padding: 0px 0px 0px 15px;
}

.navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-buttons > a {
    padding: 0px 15px 0px 0px;
}

a {
    text-decoration: none;
    color: #ffffff;
}