@import "src/index.scss";

$button-color-primary: #385b66;

nav.navbar {
    position: fixed;
    display: flex;
    background-color: $background-color-light;
    height: 60px;
    width: 100vw;
    padding: 5px;
    box-shadow: 0 1px 8px -2px rgba(100, 100, 100, 0.568);
}

.navbar-brand {
    order: 1;
    flex: 1;
    margin: auto;
    font-family: 'IBMPlexSerif-Medium', serif;
    text-shadow: 1px 1px 1px rgba(100, 100, 100, 0.568);
}

.navbar-logo {
    max-height: 48px;
}

.navbar-news {
    order: 2;
    flex: 2;
    display: flex;
    align-items: center;
    font-size: calc(8px + 1vmin);
    overflow-x: hidden;
    word-wrap: none;

    &:hover {
        text-decoration: underline;
    }
}

.navbar-search-form {
    order: 3;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    input {
        padding: 5px;
        font-size: 16px;
        min-width: 250px;
    }

    button {
        display: none;
    }
}

.navbar-links {
    order: 4;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-buttons > a {
    justify-content: center;
    align-items: center;
    padding: 7px 15px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    background-color: $background-color-light;
    margin-right: 10px;

    &:first-child {
        padding: 9px 18px;
        margin-right: 10px;
        margin-left: 20px;
    }

    &:last-child {
        margin-right: 10px;
    }

    &:hover {

    }
}

a {
    text-decoration: none;
    color: $font-color-dark;
}

a.primary {
    background-color: $button-color-primary;
    color: #ffffff;

    &:hover {
        background-color: #19444e;
    }
}

@media (max-width: 600px) {
    .mobile-hidden {
        display: none;
    }

    .navbar-buttons > a {
        justify-content: flex-end;
        align-items: flex-end;
        font-size: 12px;
        font-weight: bold;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
        background-color: $background-color-light;
    
        &:first-child {
            padding: 5px 10px;
            margin-right: 1px;
            margin-left: 10px;
        }
    
        &:last-child {
            margin-left: 0px;
            margin-right: 5px;
        }
    
        &:hover {
            background-color: lightgrey;
        }
    }

    .navbar-links {
        order: 4;
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .navbar-logo {
        max-height: 30px;
        justify-self: center;
    }
}