.container-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
}

.page-headers-profile {
    margin-top: 3vh;
}

.container-personal-info {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
}

.container-preferences {
    display: flex;
    flex-direction: column;
    justify-content: center;
}