.container-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    background-color: #ffffff;
    width: 90vw;
}

.container-personal-info {
    display: flex;
    flex-direction: column;
}

.container-preferences {
    display: flex;
    flex-direction: column;
    justify-content: center;
}