.container-register {
    display: flex;
    justify-content: space-around;
}

.primary {
    background-color: rgb(19, 91, 51);
    color: #ffffff;

    &:hover {
        background-color: rgb(1, 79, 36);
    }
}

.register-headers {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 100%;
    margin-top: 4vh;
    margin-bottom: 4vh;
    padding: 3vh 0px;
    font-family: 'DM Serif Text', serif;
}

.register-title {
    font-size: calc(20px + 6vmin);
    line-height: calc(20px + 5vmin);
    font-family: 'DM Serif Text', serif;
    font-weight: bold;
}

