.container-topics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.topics {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 600px;
}

.topic {
    background-color: #8b3434;
    padding: 6px 10px;
    border-radius: 5px;
    margin: 2px;

    a.follow {
        margin: 0;
    }

    &:hover {
        background-color: #792c2c;
    }
}