.container-topic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.topic {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 600px;
    padding: 6px 10px;
    border-radius: 5px;
    margin: 2px;
    font-weight: bold;
}

.button-unFollow {
    margin: 0 auto;
    max-width: 300px;
    padding: 15px;
}

.button-follow {
    margin: 0 auto;
    max-width: 300px;
    padding: 15px;
}

.unFollowTopic {
    background-color: #8b3434;
    color: white;
}

.followTopic {
    background-color: lightgrey;
    color: black;
}