.row-topics {
    display: flex;
    background-color: #a03232;
    color: #ffffff;
    width: 100vw;
    padding: 15px;
    overflow: scroll;
    font-size: 16px;
    font-weight: bold;
}

.row-topic {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    margin: auto 12px;
    font-size: 14px;
    white-space: nowrap;
    font-weight: normal;

    &:hover {
        text-decoration: underline;
    }
}