@import "src/index.scss";

.App {
  text-align: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.page-headers {
  margin-top: 10px;
}

@each $name in 'profile' 'dashboard' 'login' 'register' 'homepage' 'personal-info' 'preferences' 'feed' 'topics' 'topic' 'sources' 'header' {
  .container-#{$name} {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@each $name in 'profile' 'dashboard' 'login' 'register' 'topic' 'homepage' 'header' 'preferences' {
  .container-#{$name} {
    padding-top: 8vh;
  }
}


